<launch>

    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find p3dx_description)/urdf/pioneer3dx.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="10000.0" />
    <!-- <param name="tf_prefix" value="$(arg multi_robot_name)"/> -->
    </node>

</launch>